= form_for @track do |f|

  - if @track.errors.any?
    #error_explanation
      %h2 #{pluralize(@track.errors.count, "error")} prohibited this track from being saved:
      %ul
      - @track.errors.full_messages.each do |msg|
        %li= msg

  /= f.hidden_field :competition_id

  .field
    = f.select :tid, current_user.soundcloud_tracks.collect {|t| [ t["title"], t["id"] ]}, {:prompt => 'Select a Track...'}

  .actions
    = link_to "Submit Track", "#", :class => "button submit"