.row.clearfix.one-third.half-bottom

  .caption.one-third.column
    %div
      %h1 Your Challenge
      %p Remix the Bad Love version of Good Love by DEVolution. Do your worst; your absolute worst with it. Grimy, filthy, stinking beats coupled with the most abominable, nasty, twisted, booming bassline you can figure out.
      %p= link_to "Download Stems", "http://soundcloud.com/wearedevolution/devolution-bad-love-vocal-stem/download", :class => "button invert"

  .banner.two-thirds.column
    = image_tag "banner.jpg", :height => 300, :width => 620, :class => "scale-with-grid"

.row.clearfix

  .status.one-third.column
    %div
      %h2 Competition Status
      %h3 Submit From
      %p July 18 > August 29, 2011
      %h3 Share this Competition
      %p
        %a.button(href="http://twitter.com/share" target="_blank") Twitter
        %a.button(href="http://www.facebook.com/sharer/sharer.php?u=#{root_url}" target="_blank") Facebook
        %a.button(href="http://www.tumblr.com/share/link?url=#{CGI.escape(root_url)}&name=DEVolution Remix Competition&description=" target="_blank") Tumblr

  .about.two-thirds.column
    %h2 About Competition
    %a.player(href=19340009)
    %p Now, we've had an idea. We all need a bit of Good Love in our lives (hence why we made a record about it), but how many of you want want some real Bad Love in your lives?
    %p We certainly do. And we mean BAD! Interpret that how you will, and whilst you are thinking about it download the special Bad Love acapella and then get to work. Do your worst; your absolute worst with it. Grimy, filthy, stinking beats coupled with the most abominable, nasty, twisted, booming bassline you can figure out. The winner takes all so this is no place for the faint hearted, and people who do not Embrace The Bass most definitely need NOT apply.
    %p Pete & Tom.

- if !@latest_tracks.empty?

  %hr.large

  .row.clearfix

    .eight.columns
      %h2 Top Tracks
      .tracks= render @top_tracks

    .eight.columns
      %h2 Latest Tracks
      .tracks= render @latest_tracks

.row.clearfix

  .eight.columns
    %hr.large
    %h2 Prizes
    %ul.prizes
      %li £500
      %li Your remix released on OMT Records / Warner Bros
      %li 1 Year's Pro Soundcloud Account

  .eight.columns
    %hr.large
    %h2 About Artist
    %p= image_tag "devolution.png"
    %p Although a new act, the two players in DEVolution have serious heritage. Pete Devereux conquered the mainstream once before as one half of Artful Dodger, who took UK garage from the underground to the charts. His new sparring partner is former Size Records artist Tom Devos, who also scored a cult hit with The Dawn’s ‘Wonderful’. Written in just a few hours, this first track from the pair, Good Love, caught fire almost immediately, becoming MistaJam's Jam Hot record within a few weeks and also getting airplay from Target on 1Xtra and Trevor Nelson on Radio 1. Scheduled for release on Aug 29th, this could well be one of the biggest tracks this summer.
    %p
      %a.button(href="http://wearedevolution.com" target="_blank") Website
      %a.button(href="http://soundcloud.com/wearedevolution" target="_blank") SoundCloud
      %a.button(href="http://www.facebook.com/wearedevolution" target="_blank") Facebook
      %a.button(href="http://wearedevolution.com/freedownload/" target="_blank") Free Download
      %a.button(href="http://youtube.com/wearedevolution" target="_blank") YouTube

= render "player"