.row.clearfix.one-third.half-bottom

  .caption.one-third.column
    %div
      %h1 Remix Competition
      %p Remix the Bad Love version of Good Love by DEVolution. Do your worst; your absolute worst with it. Grimy, filthy, stinking beats coupled with the most abominable, nasty, twisted, booming bassline you can figure out. The winner gets £500, a release on OMT/Warner Bros. Records and a Soundcloud Pro account.

  .banner.two-thirds.column
    = image_tag "banner.jpg", :height => 300, :width => 620, :class => "scale-with-grid"

.row.clearfix

  .status.one-third.column
    %div(style="padding-left:15px")
      %h2 Competition Status
      %h3 Submit From
      %p July 18 > August 29, 2011
      %h3 Share this Competition
      %p
        %a.button(href="http://twitter.com/share" target="_blank") Twitter
        %a.button(href="http://www.facebook.com/sharer/sharer.php?u=#{root_url}" target="_blank") Facebook
        /%a.button(href="#" target="_blank") Tumblr

  .about.two-thirds.column
    %h2 About Competition
    = render :partial => "player", :locals => {:track_id => "12720844"}
    %p Now, we've had an idea. We all need a bit of Good Love in our lives (hence why we made a record about it), but how many of you want want some real Bad Love in your lives?
    %p We certainly do. And we mean BAD! Interpret that how you will, and whilst you are thinking about it download the special Bad Love acapella and then get to work. Do your worst; your absolute worst with it. Grimy, filthy, stinking beats coupled with the most abominable, nasty, twisted, booming bassline you can figure out. The winner takes all so this is no place for the faint hearted, and people who do not Embrace The Bass most definitely need NOT apply.
    %p Pete & Tom.
    %p= link_to "Download Stems", "http://soundcloud.com/wearedevolution/devolution-bad-love-vocal-stem/download", :class => "button"

%hr.large

.row.clearfix

  .eight.columns
    %h2 Top Tracks
    .tracks= render @top_tracks

  .eight.columns
    %h2 Latest Tracks
    .tracks= render @latest_tracks

.row.clearfix

  .eight.columns
    %hr.large
    %h2 Prizes
    %ul.prizes
      %li £500
      %li Your remix released on OMT Records / Warner Bros
      %li 1 Year's Pro Soundcloud Account

  .eight.columns
    %hr.large
    %h2 About DEVolution
    %p Chicken fatback venison pork. Chicken meatloaf salami andouille, turkey shank hamburger bresaola pancetta brisket chuck fatback biltong venison flank. Shankle andouille pork chop, cow meatball fatback sirloin. Boudin venison drumstick, pancetta ribeye short loin sirloin chicken ham jowl shank beef pork belly. Ball tip shank spare ribs, beef ribs tenderloin brisket fatback cow flank. Jowl shank meatloaf spare ribs sausage, pork shoulder drumstick bresaola ham hock ground round tenderloin swine t-bone. Sirloin strip steak meatball corned beef, salami hamburger spare ribs shankle biltong jowl tenderloin shank jerky drumstick.
    %p
      %a.button(href="http://wearedevolution.com" target="_blank") Website
      %a.button(href="http://soundcloud.com/wearedevolution" target="_blank") SoundCloud
      %a.button(href="http://www.facebook.com/wearedevolution" target="_blank") Facebook
      %a.button(href="http://twitter.com/wearedevolution" target="_blank") Twitter
      %a.button(href="http://youtube.com/wearedevolution" target="_blank") YouTube