.header.clearfix
  .logo
  .nav
    %ul
      %li= link_to "#{@competition.host} Competition", root_path
    %ul
      - if current_user
        %li.non-mobile Hej, #{link_to(current_user.username, current_user.link, :target => "_blank")}
        %li= link_to "Submit", submit_path
        - if !Track.first.nil?
          %li= link_to "Score", Track.first
        %li.non-mobile= link_to "Log out", logout_path
      - else
        %li= link_to "Log in", login_path

