.header.clearfix
  .logo

  .nav
    %ul
      %li
        %a{:href => root_path}
          #{@competition.host} <span class="non-mobile">#{@competition.title}</span>
    %ul
      - if current_user
        %li.non-mobile Hej, #{link_to current_user.username, current_user.link, :target => "_blank"}
      %li= link_to "Score", tracks_path
      - if Time.now < @competition.end_date
        %li= link_to "Submit", submit_path

