!!!
%html
  %head
    %title DEVolution | 'Bad Love' Remix Competition

    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta{:property => "og:title", :content => "DEVolution | 'Bad Love' Remix Competition"}
    %meta{:property => "og:description", :content => 'Remix the Bad Love version of Good Love by DEVolution. Do your worst; your absolute worst with it. Grimy, filthy, stinking beats coupled with the most abominable, nasty, twisted, booming bassline you can figure out. The winner gets £500, a release on OMT/Warner Bros. Records and a Soundcloud Pro account.'}

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "http://platform.twitter.com/widgets.js"
    = csrf_meta_tags

  %body
    .container
      = render "header"
      = yield
      = render "footer"