!!!
%html
  %head
    %title #{@competition.host} / #{@competition.title}

    %link(rel="shortcut icon" href="#{asset_path('favicon.png')}")
    %link(rel="apple-touch-icon" href="#{asset_path('apple-touch-icon.png')}")
    %link(rel="apple-touch-icon" sizes="72x72" href="#{asset_path('apple-touch-icon-72x72.png')}")
    %link(rel="apple-touch-icon" sizes="114x114" href="#{asset_path('apple-touch-icon-114x114.png')}")
    %link(rel="apple-touch-startup-image" href="#{asset_path('apple-touch-startup.png')}")
    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta(name="apple-mobile-web-app-status-bar-style" content="black")
    %meta(property="og:title" content="#{@competition.title}")
    %meta(property="og:description" content="#{@competition.intro}")
    %meta(property="og:type" content="website")
    %meta(property="og:image" content="#{root_url.chomp('/')}#{asset_path('artwork.jpg')}")
    %meta(property="og:url" content=root_url)
    %meta(property="og:site_name" content="#{@competition.host}")

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application", "http://connect.soundcloud.com/sdk.js"
    = csrf_meta_tags

  %body

    = render "header"

    .container
      = yield
      = render "footer"

    :javascript
      group = "http://api.soundcloud.com/groups/#{@competition.group}?consumer_key=#{Settings.key}";
      key = "#{Settings.key}";