!!!
%html
  %head
    %title Freestyle Online Battle

    %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
    %meta(name="apple-mobile-web-app-capable" content="yes")
    %meta{:property => "og:title", :content => "Freestyle Online Battle"}
    %meta{:property => "og:description", :content => 'Win a chance at becoming the next great recording artist!  Enter a track created with Freestyle Application for iPhone and iPad to win a chance of a professional recording, a commercial release, and an opportunity to be signed to the My Major Company record label.'}

    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag "http://platform.twitter.com/widgets.js"
    = csrf_meta_tags

  %body
    .container
      = render "header"
      = yield
      = render "footer"